---
const { identity } = Astro.props;
---

<div>
  <h3>Who I am</h3>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.city}, {identity.state}, {identity.country}.
    </li>
    <li>I work as a {identity.occupation}.</li>
  </ul>
</div>
